
/*sign up ,holiday*/

form {
	width:100%;
	margin:auto;
	max-width:725px;
	/*min-height:770px;*/
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	background:#007acc;
	opacity: 0.9;
	padding:10px 40px 50px 30px;
	border-radius:25px;
	margin-left:350px;
	}
    body{
    	 font-family: 'Ubuntu';
    }

h5{
       
	color: white;
     font-family: 'Ubuntu';
	font-size:18px;
}

textarea{
border:none;
	padding:10px 15px;
	border-radius:20px;
	background:rgba(255,255,255,.1);
	width:300px;
     color:white;
     font-family: 'Ubuntu';
	font-size:18px;
}
input[type=text],[type=email],[type=number] {
      
	border:none;
	padding:10px 15px;
	border-radius:20px;
	background:rgba(255,255,255,.1);
	width:300px;
     color:white;
     font-family: 'Ubuntu';
	font-size:18px;
}
input[type=Password]
{
	border:none;
	padding:10px 15px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	text-security:circle;
	-webkit-text-security:circle;
	width:300px;
	color:white;
	font-family: 'Ubuntu';
	font-size:22px;
}

input[type=submit] {
   border:none;
	padding:10px 15px;
	border-radius:25px;
	background:#004d80;
	color:white;
	width:150px;
	 font-family: 'Ubuntu';
	font-size:18px;
}

#e3{
 font-family: 'Ubuntu';
	font-size:17px;
	color:black;
}
p{
display: inline;
}

/* Add a hover effect for buttons */
